<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Hello {{ userName }}</h1>
        <input type="text" v-model="userName">
        <p v-if="userName.length > 9">user name length is too long</p>
        <button v-on:click="addItem">addItem</button>
        <button @click="popItem">addItem</button>
        <button @click="fetchTodos">Todo</button>
        <ul>
            <li v-for="framework in frameworks">
                {{framework}}
            </li>
        </ul>
        <ul>
            <li v-for="(todo, index) in todos">
                {{todo.completed}}
                <button @click="completeTodo(index)">완료</button>
            </li>
        </ul>
        <h2 v-bind:class="{many: completedTodos> 15}">
            완료된 TODO : {{completedTodos}}
            
        </h2>
      </div>
      <script>
          const app = new Vue({
              el: "#app",
              data:{
                  userName: "scalper",
                  frameworks: ['react','vue','angular'],
                  todos: ['a']
              },
              computed:{
                  completedTodos(){
                      return this.todos.filter(todo =>todo.completed === true).length
                  }
              },
              methods:{
                addItem(){
                    console.log('add')
                    this.frameworks.push(this.userName)
                },
                popItem(){
                    console.log('pop')
                    this.frameworks.pop()
                },
                fetchTodos(){
                    fetch("https://jsonplaceholder.typicode.com/todos?_start=0&_end=20")
                    .then(res=>res.json())
                    .then(data=>this.todos = data)
                },
                completeTodo(index){
                    this.todos[index].completed = true;
                }
              }
          });

      </script>
    <style>
        .many{
            color:red;
        }

    </style>

</body>
</html>